@page
@model KenApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Name
                <div class="btn-group" role="group" aria-label="">
                    <a asp-page="./Index" asp-route-sortBy="name" asp-route-sortAsc="false" class="btn btn-secondary">&lt;</a>
                    <a asp-page="./Index" asp-route-sortBy="name" asp-route-sortAsc="true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Industry
                <div class="btn-group" role="group" aria-label="">
                    <a asp-page="./Index" asp-route-sortBy="industry" asp-route-sortAsc="false" class="btn btn-secondary">&lt;</a>
                    <a asp-page="./Index" asp-route-sortBy="industry" asp-route-sortAsc="true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Location
                <div class="btn-group" role="group" aria-label="">
                    <a asp-page="./Index" asp-route-sortBy="location" asp-route-sortAsc="false" class="btn btn-secondary">&lt;</a>
                    <a asp-page="./Index" asp-route-sortBy="location" asp-route-sortAsc="true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Employees
                <div class="btn-group" role="group" aria-label="">
                    <a asp-page="./Index" asp-route-sortBy="employees" asp-route-sortAsc="false" class="btn btn-secondary">&lt;</a>
                    <a asp-page="./Index" asp-route-sortBy="employees" asp-route-sortAsc="true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model.Companies)
        {
            <tr>
                <td>@company.Name</td>
                <td>@company.Industry</td>
                <td>@company.Location</td>
                <td>@company.Employees</td>
            </tr>
        }
    </tbody>
</table>
